/* Reset default margin and padding */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Set basic styles for the page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;

    padding: 0 20px;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}
.firstpoem
{
    background-image: url("images/natural-marble-pattern-background_1258-22160.avif");
    color: aliceblue;
}

.secondpoem {
    background-image: url("images/natural-marble-pattern-background_1258-22160.avif");
    color: aliceblue;
}
.thirdpoem {
    background-image: url("images/natural-marble-pattern-background_1258-22160.avif");
    color: aliceblue;
}
.fourthpoem {
    background-image: url("images/natural-marble-pattern-background_1258-22160.avif");
    color: aliceblue;
}
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}