body {
    text-align: center;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
  }
  
  h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
  
  footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  
  
  
  body .A{
    background-image: url("images/th.jpg");
  }
  
  .B {
    background-image: url("images/th.jpg");
  }
  
  .C {
    background-image: url("images/th.jpg");
  }
  
  .D {
    background-image: url("images/th.jpg");
  }
  

  .E {
    background-image: url("images/th.jpg");
  }
  
  .F {
    background-image: url("images/th.jpg");
  }
  
  .G {
    background-image: url("images/th.jpg");
  }
  
  .H {
    background-image: url("images/th.jpg");
  }
  
  .I {
    background-image: url("images/th.jpg");
  }
  
  .J {
    background-image: url("images/th.jpg");
  }
  
  .K {
    background-image: url("images/th.jpg");
  }
  

  .L {
    background-image: url("images/th.jpg");
  }
  
  .M {
    background-image: url("images/th.jpg");
  }
  
  .N {
    background-image: url("images/th.jpg");
  }
  
  .O {
    background-image: url("images/th.jpg");
  }
  
  .P {
    background-image: url("images/th.jpg");
  }
  
  .Q {
    background-image: url("images/th.jpg");
  }
  
  .R {
    background-image: url("images/th.jpg");
  }
  
  .S {
    background-image: url("images/th.jpg");
  }
  
  .T {
    background-image: url("images/th.jpg");
  }
  
  .U {
    background-image: url("images/th.jpg");
  }
  
  .V {
    background-image: url("images/th.jpg");
  }
  
  .W {
    background-image: url("images/th.jpg");
  }
  
  .X {
    background-image: url("images/th.jpg");
  }
  
  .Y {
    background-image: url("images/th.jpg");
  }
  
  .Z {
    background-image: url("images/th.jpg");
  }
  
  
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    
    }
  